# Ignore your specific virtual environment
venv-yolo/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Ultralytics runs and weights
runs/
*.pt

# Ignore your dataset folder
dataset_rebuilt/

# Ignore OS-specific files
.DS_Store
Thumbs.db
